<nav class="pagination type-block" role="navigation">
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}">&lt;&lt;</a>&nbsp;&nbsp;
    {{/if}}
    <span class="page-number">{{page}} of {{pages}}</span>
    {{#if next}}
        &nbsp;&nbsp;<a class="older-posts" href="{{page_url next}}">&gt;&gt;</a>
    {{/if}}
</nav>
